h1 {
    text-transform: capitalize;
}

.div1 {
    background-color: aqua;
    width: 40px;
    height: 80px;
}

.div1:hover {
    background-color: aqua;
    transition: 4s;
    width: 200px;
    height: 80px;
}

.div2 {
    background-color: red;
    width: 40px;
    height: 80px;
}

.div2:hover {
    background-color: red;
    transition: 4s;
    width: 190px;
    height: 190px;
}